<!-- vis type specific options -->
<!-- <div class="vis-option-item form-group">
  <label>
    Bar Mode
  </label>
  <select class="form-control" ng-model="vis.params.mode" ng-options="mode for mode in vis.type.params.modes"></select>
</div>
<point-series-options></point-series-options>
<vislib-basic-options></vislib-basic-options> -->

<div>
   <label>
    <input type="radio" ng-model="vis.params.addStacked" name="mode" ng-value="vis.params.addStacked">
   Stacked
  </label>
  <label>
    <input type="radio" ng-model="vis.params.addGrouped" name="mode" ng-value="vis.params.addGrouped">
   Grouped
  </label>
</div>
<div>
   <label>
    <input type="checkbox" value="{{addValues}}" ng-model="vis.params.addValues" name="addValues" ng-checked="vis.params.addValues">
   Show Values
  </label>
</div>
<div>
   <label>
    <input type="checkbox" value="{{addLegend}}" ng-model="vis.params.addLegend" name="addLegend" ng-checked="vis.params.addLegend">
   Show Legend
  </label>
</div>
<div>
   <label>
    <input type="checkbox" value="{{addTooltip}}" ng-model="vis.params.addTooltip" name="addTooltip" ng-checked="vis.params.addTooltip">
   Show Tooltip
  </label>
</div>
